Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore(natds-token-search): update tokens contract
  packages/natds-token-search/__tests__/Form.test.js
  packages/natds-token-search/__tests__/Table.test.js
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/helpers.js
  packages/natds-token-search/src/store/tokens.js
Due: none

chore(natds-token-search): add preview to color and opacity
  packages/natds-token-search/__tests__/Table.test.js
  packages/natds-token-search/__tests__/__snapshots__/Table.test.js.snap
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/styles/global.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

fix(natds-themes): export Biome theme correctly
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
  packages/natds-themes/config/react-native/static/index.js
  packages/natds-themes/config/web/static/index.js
  packages/natds-token-search/__tests__/Form.test.js
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/store/tokens.js
Due: themes

fix(natds-themes): export Biome theme correctly (#302)
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
  packages/natds-themes/config/react-native/static/index.js
  packages/natds-themes/config/web/static/index.js
  packages/natds-token-search/__tests__/Form.test.js
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/store/tokens.js
Due: themes

fix(natds-themes): update aesop surface color
  packages/natds-themes/build/android/search/aesop/light.json
  packages/natds-themes/build/android/theme/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/theme/colors.xml
  packages/natds-themes/build/html/aesop/light.html
  packages/natds-themes/build/ios/search/aesop/light.json
  packages/natds-themes/build/ios/theme/Aesop/AesopLightTheme.swift
  packages/natds-themes/build/react-native/aesop/light.json
  packages/natds-themes/build/react-native/search/aesop/light.json
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/aesop/light.json
  packages/natds-themes/build/web/search/aesop/light.json
  packages/natds-themes/properties/brands/aesop/light.json
Due: themes

fix(natds-themes): update aesop surface color (#301)
  packages/natds-themes/build/android/search/aesop/light.json
  packages/natds-themes/build/android/theme/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/theme/colors.xml
  packages/natds-themes/build/html/aesop/light.html
  packages/natds-themes/build/ios/search/aesop/light.json
  packages/natds-themes/build/ios/theme/Aesop/AesopLightTheme.swift
  packages/natds-themes/build/react-native/aesop/light.json
  packages/natds-themes/build/react-native/search/aesop/light.json
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/aesop/light.json
  packages/natds-themes/build/web/search/aesop/light.json
  packages/natds-themes/properties/brands/aesop/light.json
Due: themes

chore(deps): update dependency style-dictionary to v3.0.3
  packages/natds-themes/package.json
  yarn.lock
Due: themes

chore: update generated files [ci skip]
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
Due: themes

feat(natds-icons): add icons
  packages/natds-icons/svg/filled-communication-noconnection.svg
  packages/natds-icons/svg/outlined-communication-noconnection.svg
Due: none

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
