Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

codecov.yml:

coverage:
  status:
    project:
      default: off
      storybook_themes:
        target: auto
        flags:
          - storybook_themes
      themes:
        target: auto
        flags:
          - themes
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  storybook_themes:
    paths:
      - packages/natds-storybook-themes
    carryforward: false
  themes:
    paths:
      - packages/natds-themes
    carryforward: true
fixes:
   - "/home/travis/build/natura-cosmeticos/natds-commons/::"

chore: change test describe, lock dependency version
  package.json
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.test.js
  yarn.lock
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

fix(natds-themes): add react-native folder to the published npm package
  packages/natds-themes/package.json
Due: themes

fix(natds-themes): change react-native output format to cjs to better suport jest
  packages/natds-themes/rollup.config.js
Due: themes

build(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/android/aesop/theme_aesop_dark.xml
  packages/natds-themes/build/android/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/aesop/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_avon_dark.xml
  packages/natds-themes/build/android/avon/theme_avon_light.xml
  packages/natds-themes/build/android/natura/theme_attributes.xml
  packages/natds-themes/build/android/natura/theme_natura_dark.xml
  packages/natds-themes/build/android/natura/theme_natura_light.xml
  packages/natds-themes/build/android/theBodyShop/theme_attributes.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_dark.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_light.xml
  packages/natds-themes/build/ios/AesopDarkTheme.swift
  packages/natds-themes/build/ios/AesopLightTheme.swift
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/ThemeProtocol.swift
Due: themes

feat(opacity): add missing `veryHigh` opacity
  packages/natds-themes/properties/globals/opacity/opacity.json
Due: themes

chore(ios): renames Components Tokens and Theme protocol and changes lazy var to let on ios template
  packages/natds-themes/build/android/avon/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_avon_dark.xml
  packages/natds-themes/build/android/avon/theme_avon_light.xml
  packages/natds-themes/build/android/natura/theme_attributes.xml
  packages/natds-themes/build/android/natura/theme_natura_dark.xml
  packages/natds-themes/build/android/natura/theme_natura_light.xml
  packages/natds-themes/build/android/theBodyShop/theme_attributes.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_dark.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_light.xml
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/Theme.swift
  packages/natds-themes/config/ios/__file_snapshots__/registerThemeFormat.snap.html
  packages/natds-themes/config/ios/__file_snapshots__/registerThemeProtocolFormat.snap.html
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/ios/buildIosConfig.test.js
  packages/natds-themes/config/ios/templates/theme.hbs
  packages/natds-themes/config/ios/templates/themeProtocol.hbs
Due: themes

chore(natds-token-search): change netlify config to include new outputs
  .gitignore
  package.json
Due: none

feat(natds-token-search): add search page
  .gitignore
  packages/natds-token-search/README.md
  packages/natds-token-search/__tests__/natds-token-search.test.js
  packages/natds-token-search/index.html
  packages/natds-token-search/package.json
  packages/natds-token-search/src/App.js
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/Radio.js
  packages/natds-token-search/src/Search.js
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/helpers.js
  packages/natds-token-search/src/index.js
  packages/natds-token-search/src/store/actions.js
  packages/natds-token-search/src/store/index.js
  packages/natds-token-search/src/store/state.js
  packages/natds-token-search/src/store/tokens.js
  packages/natds-token-search/styles.css
Due: none

chore(natds-token-search): add styles
  packages/natds-token-search/index.html
  packages/natds-token-search/package.json
  packages/natds-token-search/src/App.js
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/Radio.js
  packages/natds-token-search/src/Search.js
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/helpers.js
  packages/natds-token-search/src/index.js
  packages/natds-token-search/src/styles/global.js
  packages/natds-token-search/src/styles/jss.js
  packages/natds-token-search/styles.css
  yarn.lock
Due: none

chore(natds-token-search): add analytics
  packages/natds-token-search/index.html
Due: none

test(natds-token-search): add tests, fix jest config
  jest.config.js
  jest.setup.js
  package.json
  packages/natds-themes/babel.config.js
  packages/natds-themes/jest.config.js
  packages/natds-token-search/__tests__/Form.test.js
  packages/natds-token-search/babel.config.js
  packages/natds-token-search/jest.config.js
  packages/natds-token-search/src/Form.js
Due: themes

chore(natds-token-search): change primary color
  packages/natds-token-search/src/RadioGroup.js
  packages/natds-token-search/src/Search.js
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/styles/global.js
Due: none

chore: fix coverage, remove ide config
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/eslintPlugin.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/modules.xml
  .idea/natds-commons.iml
  .idea/vcs.xml
  .travis.yml
  jest.config.js
Due: none

chore(natds-token-search): change primary color, change analytics code
  packages/natds-token-search/index.html
  packages/natds-token-search/src/styles/global.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
  packages/natds-token-search/CHANGELOG.md
  packages/natds-token-search/package.json
Due: storybook_themes, themes
