Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

feat(natds-icons): add new icons (#328)
  packages/natds-icons/dist/drawables/filled_action_increase.xml
  packages/natds-icons/dist/drawables/filled_brand_messenger.xml
  packages/natds-icons/dist/drawables/outlined_action_increase.xml
  packages/natds-icons/dist/drawables/outlined_brand_messenger.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/natds-icons.css
  packages/natds-icons/dist/natds-icons.css.d.ts
  packages/natds-icons/dist/natds-icons.json
  packages/natds-icons/dist/natds-icons.json.d.ts
  packages/natds-icons/dist/natds-icons.swift
  packages/natds-icons/dist/natds-icons.txt
  packages/natds-icons/dist/svg/filled-action-increase.svg
  packages/natds-icons/dist/svg/filled-brand-messenger.svg
  packages/natds-icons/dist/svg/outlined-action-increase.svg
  packages/natds-icons/dist/svg/outlined-brand-messenger.svg
  packages/natds-icons/ios/NatDSIcons/NatDSIcons/Icon.swift
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
  packages/natds-icons/src/generated/natds-icons-codes.json
  packages/natds-icons/svg/filled-action-increase.svg
  packages/natds-icons/svg/filled-brand-messenger.svg
  packages/natds-icons/svg/outlined-action-increase.svg
  packages/natds-icons/svg/outlined-brand-messenger.svg
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

fix(natds-icons): add icon outlined-brand-messenger
  packages/natds-icons/svg/outlined-brand-messenger.svg
Due: none

fix(natds-token-search): update natds-themes dependency
  packages/natds-token-search/package.json
  yarn.lock
Due: none

fix(natds-token-search): update natds-themes dependency (#337)
  packages/natds-token-search/package.json
  yarn.lock
Due: none

fix(natds-icons): changing icons structure
  packages/natds-icons/svg/outlined-action-increase.svg
  packages/natds-icons/svg/outlined-brand-messenger.svg
Due: none

fix(svg2): downgrade svg2vectordrawable
  packages/natds-themes/package.json
  yarn.lock
Due: themes

deps: downgrade svg2vectordrawable (#341)
  packages/natds-themes/package.json
  yarn.lock
Due: themes

chore: update generated files [ci skip]
  packages/natds-icons/dist/drawables/outlined_action_increase.xml
  packages/natds-icons/dist/drawables/outlined_brand_messenger.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/svg/outlined-action-increase.svg
  packages/natds-icons/dist/svg/outlined-brand-messenger.svg
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
Due: none

fix(natds-icons): update icons (#340)
  packages/natds-icons/dist/drawables/outlined_action_increase.xml
  packages/natds-icons/dist/drawables/outlined_brand_messenger.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/svg/outlined-action-increase.svg
  packages/natds-icons/dist/svg/outlined-brand-messenger.svg
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
  packages/natds-icons/svg/outlined-action-increase.svg
  packages/natds-icons/svg/outlined-brand-messenger.svg
Due: none

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
