Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

codecov.yml:

coverage:
  status:
    project:
      default: off
      storybook_themes:
        target: auto
        flags:
          - storybook_themes
      themes:
        target: auto
        flags:
          - themes
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  storybook_themes:
    paths:
      - packages/natds-storybook-themes
    carryforward: false
  themes:
    paths:
      - packages/natds-themes
    carryforward: true
fixes:
   - "/home/travis/build/natura-cosmeticos/natds-commons/::"

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-icons): add icons finance-pix
  packages/natds-icons/svg/filled-finance-pix.svg
  packages/natds-icons/svg/outlined-finance-pix.svg
Due: none

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

fix(natds-themes): fix font-family escape
  packages/natds-themes/assets/suisse_intl_medium.css
  packages/natds-themes/assets/suisse_intl_medium.eot
  packages/natds-themes/assets/suisse_intl_medium.ttf
  packages/natds-themes/assets/suisse_intl_medium.woff
  packages/natds-themes/assets/suisse_intl_medium.woff2
  packages/natds-themes/assets/suisse_intl_regular.css
  packages/natds-themes/build/android/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/html/aesop/assets/aesop_fonts.css
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.eot
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.woff
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.woff2
  packages/natds-themes/build/ios/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/react-native/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/web/assets/aesop_fonts.css
  packages/natds-themes/build/web/assets/suisse_intl_medium.eot
  packages/natds-themes/build/web/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/web/assets/suisse_intl_medium.woff
  packages/natds-themes/build/web/assets/suisse_intl_medium.woff2
Due: themes

fix(natds-themes): fix font-family escape (#353)
  packages/natds-themes/assets/suisse_intl_medium.css
  packages/natds-themes/assets/suisse_intl_medium.eot
  packages/natds-themes/assets/suisse_intl_medium.ttf
  packages/natds-themes/assets/suisse_intl_medium.woff
  packages/natds-themes/assets/suisse_intl_medium.woff2
  packages/natds-themes/assets/suisse_intl_regular.css
  packages/natds-themes/build/android/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/html/aesop/assets/aesop_fonts.css
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.eot
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.woff
  packages/natds-themes/build/html/aesop/assets/suisse_intl_medium.woff2
  packages/natds-themes/build/ios/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/react-native/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/web/assets/aesop_fonts.css
  packages/natds-themes/build/web/assets/suisse_intl_medium.eot
  packages/natds-themes/build/web/assets/suisse_intl_medium.ttf
  packages/natds-themes/build/web/assets/suisse_intl_medium.woff
  packages/natds-themes/build/web/assets/suisse_intl_medium.woff2
Due: themes

fix(natds-themes): fix name of font-family
  packages/natds-themes/assets/suisse_intl_medium.css
  packages/natds-themes/build/html/aesop/assets/aesop_fonts.css
  packages/natds-themes/build/html/aesop/dark.html
  packages/natds-themes/build/html/aesop/light.html
  packages/natds-themes/build/ios/search/aesop/dark.json
  packages/natds-themes/build/ios/search/aesop/light.json
  packages/natds-themes/build/ios/theme/Aesop/AesopDarkTheme.swift
  packages/natds-themes/build/ios/theme/Aesop/AesopLightTheme.swift
  packages/natds-themes/build/react-native/aesop/dark.json
  packages/natds-themes/build/react-native/aesop/light.json
  packages/natds-themes/build/react-native/search/aesop/dark.json
  packages/natds-themes/build/react-native/search/aesop/light.json
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/dark.json
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/aesop/light.json
  packages/natds-themes/build/web/assets/aesop_fonts.css
  packages/natds-themes/build/web/search/aesop/dark.json
  packages/natds-themes/build/web/search/aesop/light.json
  packages/natds-themes/properties/brands/aesop/typography.json
Due: themes

fix(natds-themes): fix name of font-family (#354)
  packages/natds-themes/assets/suisse_intl_medium.css
  packages/natds-themes/build/html/aesop/assets/aesop_fonts.css
  packages/natds-themes/build/html/aesop/dark.html
  packages/natds-themes/build/html/aesop/light.html
  packages/natds-themes/build/ios/search/aesop/dark.json
  packages/natds-themes/build/ios/search/aesop/light.json
  packages/natds-themes/build/ios/theme/Aesop/AesopDarkTheme.swift
  packages/natds-themes/build/ios/theme/Aesop/AesopLightTheme.swift
  packages/natds-themes/build/react-native/aesop/dark.json
  packages/natds-themes/build/react-native/aesop/light.json
  packages/natds-themes/build/react-native/search/aesop/dark.json
  packages/natds-themes/build/react-native/search/aesop/light.json
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/dark.json
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/aesop/light.json
  packages/natds-themes/build/web/assets/aesop_fonts.css
  packages/natds-themes/build/web/search/aesop/dark.json
  packages/natds-themes/build/web/search/aesop/light.json
  packages/natds-themes/properties/brands/aesop/typography.json
Due: themes

Fix/aesop font file (#355)
  packages/natds-themes/assets/suisse_intl_medium.css
  packages/natds-themes/assets/suisse_intl_regular.css
  packages/natds-themes/build/html/aesop/assets/aesop_fonts.css
  packages/natds-themes/build/web/assets/aesop_fonts.css
Due: themes

chore(deps): update dependency style-dictionary to v3.1.1
  packages/natds-themes/package.json
  yarn.lock
Due: themes

fix(deps): update typescript-eslint monorepo to v5
  packages/natds-lint/package.json
  yarn.lock
Due: none

fix(natds-icons): change import
  packages/natds-icons/src/index.js
Due: none

fix(natds-icons): update content-world icons
  packages/natds-icons/svg/filled-content-world.svg
  packages/natds-icons/svg/outlined-content-world.svg
Due: none
