Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natdsTest/dark.js
  packages/natds-themes/build/android/natdsTest/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/search/AesopDark.js
  packages/natds-themes/build/ios/search/AesopLight.js
  packages/natds-themes/build/ios/search/AvonDark.js
  packages/natds-themes/build/ios/search/AvonLight.js
  packages/natds-themes/build/ios/search/NatdsTestDark.js
  packages/natds-themes/build/ios/search/NatdsTestLight.js
  packages/natds-themes/build/ios/search/NaturaDark.js
  packages/natds-themes/build/ios/search/NaturaLight.js
  packages/natds-themes/build/ios/search/TheBodyShopDark.js
  packages/natds-themes/build/ios/search/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natdsTest/dark.js
  packages/natds-themes/build/react-native/natdsTest/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natdsTest/dark-esm.js
  packages/natds-themes/build/web/natdsTest/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

feat(natds-icons): add icons
  packages/natds-icons/svg/filled-content-wifi.svg
  packages/natds-icons/svg/filled-content-world.svg
  packages/natds-icons/svg/outlined-content-world.svg
Due: none

feat(natds-icons): add icon outlined-content-wifi
  packages/natds-icons/svg/outlined-content-wifi.svg
Due: none

feat(natds-icons): add icon filled-content-wifi
  packages/natds-icons/svg/filled-content-wifi.svg
Due: none

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore: update generated files [ci skip]
  packages/natds-themes/build/android/search/aesop/dark.js
  packages/natds-themes/build/android/search/aesop/light.js
  packages/natds-themes/build/android/search/avon/dark.js
  packages/natds-themes/build/android/search/avon/light.js
  packages/natds-themes/build/android/search/natdsTest/dark.js
  packages/natds-themes/build/android/search/natdsTest/light.js
  packages/natds-themes/build/android/search/natura/dark.js
  packages/natds-themes/build/android/search/natura/light.js
  packages/natds-themes/build/android/search/theBodyShop/dark.js
  packages/natds-themes/build/android/search/theBodyShop/light.js
  packages/natds-themes/build/ios/search/AesopDark.js
  packages/natds-themes/build/ios/search/AesopLight.js
  packages/natds-themes/build/ios/search/AvonDark.js
  packages/natds-themes/build/ios/search/AvonLight.js
  packages/natds-themes/build/ios/search/NatdsTestDark.js
  packages/natds-themes/build/ios/search/NatdsTestLight.js
  packages/natds-themes/build/ios/search/NaturaDark.js
  packages/natds-themes/build/ios/search/NaturaLight.js
  packages/natds-themes/build/ios/search/TheBodyShopDark.js
  packages/natds-themes/build/ios/search/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natdsTest/dark.js
  packages/natds-themes/build/react-native/natdsTest/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natdsTest/dark-esm.js
  packages/natds-themes/build/web/natdsTest/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

fix(natds-themes): change suisse font file to include latin characters
  packages/natds-themes/assets/SuisseIntl-Regular.eot
  packages/natds-themes/assets/SuisseIntl-Regular.ttf
  packages/natds-themes/assets/SuisseIntl-Regular.woff
  packages/natds-themes/assets/SuisseIntl-Regular.woff2
Due: themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
