Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

Update package.json
  packages/natds-themes/package.json
Due: themes

fix(natds-themes): verify-version affects: @naturacosmeticos/natds-themes DSY-3602
  packages/natds-themes/config/shared/helpers/helpers.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

Update spectrum.js
  packages/natds-themes/properties/brands/avon_v2/spectrum.js
Due: themes

Update package.json
  package.json
Due: none

fix(icons): fix icon filled-content-gauge
  packages/natds-icons/svg/filled-content-gauge.svg
Due: none

fix(natds-icons): fix icon filled-content-gauge
  packages/natds-icons/svg/filled-content-gauge.svg
Due: none

feat(natds-icons): add icon filled-communication-digital-service
  packages/natds-icons/svg/filled-communication-digital-service.svg
  packages/natds-icons/svg/outlined-communication-digital-service.svg
Due: none

Update .nvmrc
  .nvmrc
Due: none

fix(natds-icons): refact
  packages/natds-icons/src/index.js
Due: none

Update build-html.sh
  .cicd/build-html.sh
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

fix(natds-icons): fix icon filled-communication-digital-service.
  packages/natds-icons/svg/filled-communication-digital-service.svg
Due: none

Update package.json
  packages/natds-storybook-themes/package.json
Due: storybook_themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
