Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore(natds-themes): fix android colors output to exclude spectrum
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/colors.json
  packages/natds-themes/build/android/colors.xml
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
  packages/natds-themes/config/android/actions/registerCreateResourcesAction.js
  packages/natds-themes/config/android/shared/helpers.js
  packages/natds-themes/config/android/shared/helpers.test.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

fix(natds-icons): change css font-display from auto to swap
  packages/natds-icons/dist/natds-icons.css
  packages/natds-icons/src/actions/buildCss.js
  packages/natds-icons/src/actions/buildCss.test.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore(deps): update babel
  package.json
  yarn.lock
Due: none

chore(deps): update dependency crypto-js to v4.1.1
  package.json
  packages/natds-themes/package.json
  yarn.lock
Due: themes

feat(natds-icons): add new icons
  packages/natds-icons/svg/filled-action-dislike.svg
  packages/natds-icons/svg/filled-brand-thebodyshop.svg
  packages/natds-icons/svg/filled-place-local.svg
  packages/natds-icons/svg/outlined-action-dislike.svg
  packages/natds-icons/svg/outlined-brand-thebodyshop.svg
  packages/natds-icons/svg/outlined-place-local.svg
Due: none

feat(natds-themes): add custom font support
  packages/natds-themes/config/android/formats/registerThemeFormat.js
  packages/natds-themes/config/shared/buildConfig.js
  packages/natds-themes/properties/brands/aesop/typography.json
  packages/natds-themes/properties/brands/avon/typography.json
  packages/natds-themes/properties/brands/natura/typography.json
  packages/natds-themes/properties/brands/theBodyShop/typography.json
Due: themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

chore(natds-themes): add badge border tokens
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/index.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore(natds-themes): add badge border tokens
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
