Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

fix(natds-icons): update file
  packages/natds-icons/svg/outlined-content-world.svg
Due: none

chore(deps): update dependency http-server to v0.13.0
  package.json
  yarn.lock
Due: none

chore: update generated files [ci skip]
  packages/natds-icons/dist/drawables/filled_content_world.xml
  packages/natds-icons/dist/drawables/outlined_content_world.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/svg/filled-content-world.svg
  packages/natds-icons/dist/svg/outlined-content-world.svg
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
Due: none

chore: updating icons regression test reference image [skip ci]
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

fix(natds-icons): update content-world icons (#361)
  packages/natds-icons/dist/drawables/filled_content_world.xml
  packages/natds-icons/dist/drawables/outlined_content_world.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/svg/filled-content-world.svg
  packages/natds-icons/dist/svg/outlined-content-world.svg
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
  packages/natds-icons/svg/filled-content-world.svg
  packages/natds-icons/svg/outlined-content-world.svg
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore(deps): update eslint
  package.json
  packages/natds-lint/package.json
  yarn.lock
Due: none

chore(deps): update dependency core-js to v3.21.1
  package.json
  yarn.lock
Due: none

chore(deps): update babel
  package.json
  yarn.lock
Due: none

chore(deps): update dependency style-dictionary to v3.7.0
  packages/natds-themes/package.json
  yarn.lock
Due: themes

chore(deps): update eslint
  package.json
  yarn.lock
Due: none

chore(deps): update rollup
  package.json
  packages/natds-icons/package.json
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): update test
  package.json
  yarn.lock
Due: none

chore(deps): update ts
  package.json
  packages/natds-icons/package.json
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

fix(deps): update dependency @storybook/theming to v6.4.19
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
