Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

codecov.yml:

coverage:
  status:
    project:
      default: off
      storybook_themes:
        target: auto
        flags:
          - storybook_themes
      themes:
        target: auto
        flags:
          - themes
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  storybook_themes:
    paths:
      - packages/natds-storybook-themes
    carryforward: false
  themes:
    paths:
      - packages/natds-themes
    carryforward: true
fixes:
   - "/home/travis/build/natura-cosmeticos/natds-commons/::"

chore: fix release script
  package.json
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore: fix add graduate flag
  .travis.yml
  package.json
Due: none

build(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/dark.js
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/avon/light.js
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/dark.js
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/natura/light.js
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/dark.js
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/build/web/theBodyShop/light.js
Due: themes

chore: fix coverage reports
  .travis.yml
  codecov.yml
  package.json
  packages/natds-themes/package.json
Due: themes

chore: remove some dependencies
  package.json
  yarn.lock
Due: none

chore: fix coverage in watch mode
  jest.base.config.js
  jest.config.js
  package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/jest.config.js
  packages/natds-themes/jest.setup.js
Due: storybook_themes, themes

build(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/android/aesop/theme_aesop_dark.xml
  packages/natds-themes/build/android/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/aesop/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_avon_dark.xml
  packages/natds-themes/build/android/avon/theme_avon_light.xml
  packages/natds-themes/build/android/natura/theme_attributes.xml
  packages/natds-themes/build/android/natura/theme_natura_dark.xml
  packages/natds-themes/build/android/natura/theme_natura_light.xml
  packages/natds-themes/build/android/theBodyShop/theme_attributes.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_dark.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_light.xml
  packages/natds-themes/build/ios/AesopDarkTheme.swift
  packages/natds-themes/build/ios/AesopLightTheme.swift
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/ThemeProtocol.swift
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/dark.js
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/avon/light.js
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/dark.js
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/natura/light.js
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/dark.js
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/build/web/theBodyShop/light.js
Due: themes

chore(deps): update dependency semantic-release to v15.14.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @storybook/theming to v6.0.21
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): update dependency semantic-release to v17
  package.json
  yarn.lock
Due: none

chore(deps): update babel monorepo
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.8.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.26.10
  package.json
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(natds-themes): update ios output
  packages/natds-themes/build/ios/AesopDarkTheme.swift
  packages/natds-themes/build/ios/AesopLightTheme.swift
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/ThemeProtocol.swift
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/ios/registerAttributeTypeTransform.js
  packages/natds-themes/config/ios/registerFormats.js
  packages/natds-themes/config/ios/registerValueStringLiteralTransform.js
  packages/natds-themes/config/ios/templates/theme.hbs
  packages/natds-themes/config/ios/templates/themeProtocol.hbs
Due: themes

test(natds-themes): add tests
  jest.config.js
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/dark.js
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/avon/light.js
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/dark.js
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/natura/light.js
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/dark.js
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/build/web/theBodyShop/light.js
  packages/natds-themes/config/ios/__file_snapshots__/registerThemeFormat.snap.html
  packages/natds-themes/config/ios/__file_snapshots__/registerThemeProtocolFormat.snap.html
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/ios/buildIosConfig.test.js
  packages/natds-themes/config/ios/registerFormats.test.js
Due: themes

chore(natds-themes): remove time stamp from outputs to not genate diff
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/dark.js
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/aesop/light.js
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/dark.js
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/avon/light.js
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/dark.js
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/natura/light.js
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/dark.js
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/build/web/theBodyShop/light.js
  packages/natds-themes/config/web/buildWebConfig.js
  packages/natds-themes/config/web/buildWebConfig.test.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
Due: storybook_themes

fix(natds-themes): add px units to css outputs
  .gitignore
  packages/natds-themes/.gitignore
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/config/android/registerDpTransform.test.js
  packages/natds-themes/config/shared/buildConfig.js
  packages/natds-themes/config/shared/buildConfig.test.js
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/helpers.js
  packages/natds-themes/config/shared/helpers.test.js
  packages/natds-themes/config/shared/registerPxTransform.js
  packages/natds-themes/config/shared/registerPxTransform.test.js
  packages/natds-themes/config/web/buildWebConfig.js
  packages/natds-themes/config/web/buildWebConfig.test.js
  packages/natds-themes/properties/platforms/css/elevation.js
  packages/natds-themes/properties/platforms/css/elevation.test.js
Due: themes

chore(natds-themes): remove px from line height
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/config/shared/registerPxTransform.js
  packages/natds-themes/config/shared/registerPxTransform.test.js
Due: themes

build(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/android/aesop/theme_aesop_dark.xml
  packages/natds-themes/build/android/aesop/theme_aesop_light.xml
  packages/natds-themes/build/android/aesop/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_attributes.xml
  packages/natds-themes/build/android/avon/theme_avon_dark.xml
  packages/natds-themes/build/android/avon/theme_avon_light.xml
  packages/natds-themes/build/android/natura/theme_attributes.xml
  packages/natds-themes/build/android/natura/theme_natura_dark.xml
  packages/natds-themes/build/android/natura/theme_natura_light.xml
  packages/natds-themes/build/android/theBodyShop/theme_attributes.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_dark.xml
  packages/natds-themes/build/android/theBodyShop/theme_theBodyShop_light.xml
  packages/natds-themes/build/ios/AesopDarkTheme.swift
  packages/natds-themes/build/ios/AesopLightTheme.swift
  packages/natds-themes/build/ios/AvonDarkTheme.swift
  packages/natds-themes/build/ios/AvonLightTheme.swift
  packages/natds-themes/build/ios/NaturaDarkTheme.swift
  packages/natds-themes/build/ios/NaturaLightTheme.swift
  packages/natds-themes/build/ios/TheBodyShopDarkTheme.swift
  packages/natds-themes/build/ios/TheBodyShopLightTheme.swift
  packages/natds-themes/build/ios/ThemeProtocol.swift
Due: themes

chore: remove ci dependencies
  .snyk
  .travis.yml
  package.json
  yarn.lock
Due: none

chore: fix release to achieve semantic release
  package.json
Due: none

feat(natds-themes): add typescript type definitions generation on build
  package.json
  packages/natds-themes/build/web/index.d.ts
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.js
  packages/natds-themes/config/web/buildWebConfig.js
  yarn.lock
Due: themes

test(natds-themes): add tests for file definition creation
  packages/natds-themes/build/web/index.d.ts
  packages/natds-themes/config/build.js
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/constants.js
  packages/natds-themes/config/shared/createOutputPathInfo.test.js
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.js
  packages/natds-themes/config/shared/registerTypeDefinitionsAction.test.js
  packages/natds-themes/config/shared/templates/typeDefinitions.hbs
  packages/natds-themes/config/web/buildWebConfig.test.js
  packages/natds-themes/package.json
Due: themes

chore(natds-themes): add type definitions for react-native
  packages/natds-themes/build/react-native/index.d.ts
  packages/natds-themes/config/react-native/buildReactNativeConfig.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.test.js
  packages/natds-themes/package.json
Due: themes
