Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore(deps): update dependency handlebars to v4.7.7 [security]
  package.json
  packages/natds-themes/package.json
  yarn.lock
Due: themes

chore: update logo url
  packages/natds-themes/assets/logo/avon-a-official.svg
  packages/natds-themes/assets/logo/natura-a-official.svg
  packages/natds-themes/assets/logo/natura-b-official.svg
Due: themes

chore: add transform to extract png from svg
  packages/natds-themes/assets/logo/avon-a-official.svg
  packages/natds-themes/assets/logo/natura-b-official.svg
  packages/natds-themes/bin/teste.js
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/registerOptimizeSvgTransform.js
  packages/natds-themes/config/web/buildWebConfig.js
Due: themes

chore: fix base64 extration
  packages/natds-themes/config/shared/registerOptimizeSvgTransform.js
Due: themes

test(natds-themes): add tests for helpers
  packages/natds-themes/bin/teste.js
  packages/natds-themes/config/shared/helpers.js
  packages/natds-themes/config/shared/helpers.test.js
  packages/natds-themes/config/shared/registerOptimizeSvgTransform.js
  packages/natds-themes/config/shared/registerOptimizeSvgTransform.test.js
  packages/natds-themes/config/shared/svgOptimizerHelpers.js
Due: themes

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(natds-icons): reorder natds-icons helper imports
  packages/natds-icons/src/helpers/index.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore(deps): update dependency commitizen to v4.2.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency glob to v7.1.7
  packages/natds-icons/package.json
  yarn.lock
Due: none

chore(deps): update dependency nodemon to v2.0.12
  package.json
  yarn.lock
Due: none

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore(deps): update babel
  package.json
  yarn.lock
Due: none

chore(deps): update dependency com.android.tools.build:gradle to v4.2.2
  packages/natds-icons/android/build.gradle
Due: none

fix(natds-themes): fix type definitions output
  packages/natds-themes/config/shared/actions/registerTypeDefinitionsAction.js
Due: themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/index.d.ts
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

fix(natds-themes): fix glob pattern to include spacing properties
  packages/natds-themes/config/shared/buildConfig.js
  packages/natds-themes/config/shared/buildConfig.test.js
Due: themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
