Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore(deps): update babel
  package.json
  yarn.lock
Due: none

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natdsTest/dark.js
  packages/natds-themes/build/android/natdsTest/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NatdsTestDark.js
  packages/natds-themes/build/ios/NatdsTestLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natdsTest/dark.js
  packages/natds-themes/build/react-native/natdsTest/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natdsTest/dark-esm.js
  packages/natds-themes/build/web/natdsTest/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natdsTest/dark.js
  packages/natds-themes/build/android/natdsTest/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/search/AesopDark.js
  packages/natds-themes/build/ios/search/AesopLight.js
  packages/natds-themes/build/ios/search/AvonDark.js
  packages/natds-themes/build/ios/search/AvonLight.js
  packages/natds-themes/build/ios/search/NatdsTestDark.js
  packages/natds-themes/build/ios/search/NatdsTestLight.js
  packages/natds-themes/build/ios/search/NaturaDark.js
  packages/natds-themes/build/ios/search/NaturaLight.js
  packages/natds-themes/build/ios/search/TheBodyShopDark.js
  packages/natds-themes/build/ios/search/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natdsTest/dark.js
  packages/natds-themes/build/react-native/natdsTest/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natdsTest/dark-esm.js
  packages/natds-themes/build/web/natdsTest/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

fix(natds-themes): fix output of border radius circle
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
Due: themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
