Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

codecov.yml:

coverage:
  status:
    project:
      default: off
      storybook_themes:
        target: auto
        flags:
          - storybook_themes
      themes:
        target: auto
        flags:
          - themes
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  storybook_themes:
    paths:
      - packages/natds-storybook-themes
    carryforward: false
  themes:
    paths:
      - packages/natds-themes
    carryforward: true
fixes:
   - "/home/travis/build/natura-cosmeticos/natds-commons/::"

feat(natds-tokens-search): adds "deprecated" label in token search table
  packages/natds-token-search/__tests__/Table.test.js
  packages/natds-token-search/__tests__/__snapshots__/Table.test.js.snap
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/store/state.js
Due: none

chore(natds-themes): remove unused templates
  packages/natds-themes/config/ios/formats/templates/spectrumProtocol.hbs
  packages/natds-themes/config/ios/formats/templates/theme.hbs
  packages/natds-themes/config/ios/formats/templates/themeProtocol.hbs
Due: themes

feat(natds-themes): updates Android and iOS output to show the deprecated annotation message
  packages/natds-themes/build/android/theme/theme_attributes.xml
  packages/natds-themes/build/ios/theme/ThemeProtocol.swift
  packages/natds-themes/config/android/formats/__file_snapshots__/registerAttributesFormat.snap.xml
  packages/natds-themes/config/android/formats/registerAttributesFormat.test.js
  packages/natds-themes/config/android/formats/templates/attributes.hbs
  packages/natds-themes/config/ios/formats/__file_snapshots__/registerThemeProtocolFormat.snap.html
  packages/natds-themes/config/ios/formats/registerFormats.test.js
  packages/natds-themes/config/ios/formats/templates/protocol.hbs
Due: themes

fix(natds-lint): updates lint rules
  packages/natds-lint/base/rules/style.js
  packages/natds-lint/react/rules/react-hooks.js
  packages/natds-lint/react/rules/react.js
Due: none

fix(natds-lint): updates lint rules (#343)
  packages/natds-lint/base/rules/style.js
  packages/natds-lint/react/rules/react-hooks.js
  packages/natds-lint/react/rules/react.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-lint/CHANGELOG.md
  packages/natds-lint/package.json
Due: none

fix(natds-lint): updates lint rules
  packages/natds-lint/react/rules/react-hooks.js
Due: none

fix(natds-lint): updates lint rules (#344)
  packages/natds-lint/react/rules/react-hooks.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore(natds-lint): update rules
  packages/natds-lint/base/rules/imports.js
Due: none

chore(natds-lint): update rules (#346)
  packages/natds-lint/base/rules/imports.js
Due: none

chore: updates lint rules to use eslint-config-natds
  .eslintrc.js
  package.json
  packages/natds-lint/package.json
  packages/natds-token-search/package.json
Due: none

chore: update generated files [ci skip]
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
  packages/natds-lint/CHANGELOG.md
  packages/natds-lint/package.json
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes
