Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

codecov.yml:

coverage:
  status:
    project:
      default: off
      storybook_themes:
        target: auto
        flags:
          - storybook_themes
      themes:
        target: auto
        flags:
          - themes
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
flags:
  storybook_themes:
    paths:
      - packages/natds-storybook-themes
    carryforward: false
  themes:
    paths:
      - packages/natds-themes
    carryforward: true
fixes:
   - "/home/travis/build/natura-cosmeticos/natds-commons/::"

fix(natds-themes): bump version 0.59.23 to 0.60.0 affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-themes/package.json
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

feat(natds-themes): bump version natds-cli natds-lint natds-themes affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-cli/package.json
  packages/natds-lint/package.json
  packages/natds-themes/package.json
Due: themes

feat(natds-themes): bump version cli lint themes storybook affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-cli/package.json
  packages/natds-lint/package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-themes): bump version cli lint storybook themes affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-cli/package.json
  packages/natds-lint/package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-themes): bump version cli lint storybook theme affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-cli/package.json
  packages/natds-lint/package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-themes): bump version cli lint storybook theme icons affects: @naturacosmeticos/natds-themes DSY-3951
  packages/natds-cli/package.json
  packages/natds-icons/package.json
  packages/natds-lint/package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-themes): change dark color alertLight affects: @naturacosmeticos/natds-themes DSY-3918
  packages/natds-themes/properties/brands/aesop/dark.json
  packages/natds-themes/properties/brands/avon/dark.json
  packages/natds-themes/properties/brands/avon_v2/dark.json
  packages/natds-themes/properties/brands/biome/dark.json
  packages/natds-themes/properties/brands/casaEestilo/dark.json
  packages/natds-themes/properties/brands/consultoriaDeBeleza/dark.json
  packages/natds-themes/properties/brands/natura/dark.json
  packages/natds-themes/properties/brands/natura_v2/dark.json
  packages/natds-themes/properties/brands/theBodyShop/dark.json
Due: themes

feat(natds-themes): change color linkDarkest affects: @naturacosmeticos/natds-themes DSY-3918
  packages/natds-themes/properties/brands/avon/light.json
  packages/natds-themes/properties/brands/avon_v2/light.json
  packages/natds-themes/properties/brands/biome/light.json
  packages/natds-themes/properties/brands/casaEestilo/light.json
  packages/natds-themes/properties/brands/consultoriaDeBeleza/light.json
  packages/natds-themes/properties/brands/natura/light.json
  packages/natds-themes/properties/brands/natura_v2/light.json
  packages/natds-themes/properties/brands/theBodyShop/light.json
Due: themes

feat(natds-themes): update changelog affects: @naturacosmeticos/natds-themes DSY-3918
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

feat(natds-themes): bump-version cli icons lint storybook themes affects: @naturacosmeticos/natds-themes DSY-3918
  packages/natds-cli/package.json
  packages/natds-icons/package.json
  packages/natds-lint/package.json
  packages/natds-storybook-themes/package.json
  packages/natds-themes/package.json
Due: storybook_themes, themes

feat(natds-search-tokens): omit Aesop affects: @naturacosmeticos/natds-themes DSY-3918
  packages/natds-token-search/src/Form.js
  packages/natds-token-search/src/Table.js
  packages/natds-token-search/src/store/tokens.js
Due: none

feat(natds-icons): add icon filled-alert-info
  packages/natds-icons/svg/filled-alert-cancel.svg
  packages/natds-icons/svg/filled-alert-check.svg
  packages/natds-icons/svg/filled-alert-empty.svg
  packages/natds-icons/svg/filled-alert-indeterminate.svg
  packages/natds-icons/svg/filled-alert-info.svg
  packages/natds-icons/svg/filled-alert-notification.svg
  packages/natds-icons/svg/filled-alert-notificationbadge.svg
  packages/natds-icons/svg/filled-alert-warning.svg
  packages/natds-icons/svg/filled-brand-x.svg
  packages/natds-icons/svg/outlined-brand-x.svg
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

fix(natds-icons): fix icon alert
  packages/natds-icons/dist/svg/filled-alert-cancel.svg
  packages/natds-icons/dist/svg/filled-alert-check.svg
  packages/natds-icons/dist/svg/filled-alert-empty.svg
  packages/natds-icons/dist/svg/filled-alert-indeterminate.svg
  packages/natds-icons/dist/svg/filled-alert-info.svg
  packages/natds-icons/dist/svg/filled-alert-warning.svg
  packages/natds-icons/dist/svg/outlined-finance-pix.svg
Due: none

chore(natds-react): bump version icons affects: @naturacosmeticos/natds-react DSY-4086
  packages/natds-icons/package.json
Due: none

fix(natds-icons): fix icon filled-alert-cancel affects: @naturacosmeticos/natds-icons DSY-4086
  packages/natds-icons/svg/filled-alert-cancel.svg
Due: none
