Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

Update package.json
  packages/natds-cli/package.json
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

Update package.json
  packages/natds-lint/package.json
Due: none

Update package.json
  packages/natds-storybook-themes/package.json
Due: storybook_themes

Update build-html.sh
  .cicd/build-html.sh
Due: none

Update package.json
  package.json
Due: none

Update package.json
  packages/natds-icons/package.json
Due: none

fixt(natds-icons): fix icon outlined-action-visibilitysleeping outlined-bag-emptybag
  packages/natds-icons/svg/outlined-action-visibilitysleeping.svg
  packages/natds-icons/svg/outlined-bag-emptybag.svg
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: themes

bumping versions to release icons
  packages/natds-cli/package.json
Due: none

feat(natds-themes): add range colors globals mode light affects: @naturacosmeticos/natds-themes DSY-3803
  packages/natds-themes/properties/brands/aesop/light.json
  packages/natds-themes/properties/brands/avon/light.json
  packages/natds-themes/properties/brands/avon_v2/light.json
  packages/natds-themes/properties/brands/biome/light.json
  packages/natds-themes/properties/brands/casaEestilo/light.json
  packages/natds-themes/properties/brands/consultoriaDeBeleza/light.json
  packages/natds-themes/properties/brands/natura/light.json
  packages/natds-themes/properties/brands/natura_v2/light.json
  packages/natds-themes/properties/brands/theBodyShop/light.json
Due: themes

refactor(natds-themes): add range colors globals mode Dark affects: @naturacosmeticos/natds-themes DSY-3803
  packages/natds-themes/properties/brands/aesop/dark.json
  packages/natds-themes/properties/brands/avon/dark.json
  packages/natds-themes/properties/brands/avon_v2/dark.json
  packages/natds-themes/properties/brands/biome/dark.json
  packages/natds-themes/properties/brands/casaEestilo/dark.json
  packages/natds-themes/properties/brands/consultoriaDeBeleza/dark.json
  packages/natds-themes/properties/brands/natura/dark.json
  packages/natds-themes/properties/brands/natura_v2/dark.json
  packages/natds-themes/properties/brands/theBodyShop/dark.json
Due: themes

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
