Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore: update generated files [ci skip]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

fix: force icons publish
  packages/natds-icons/dist/natds-icons.txt
Due: none

chore: update generated files [ci skip]
  packages/natds-icons/dist/natds-icons.txt
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

fix(natds-icons): force pusblish
  lerna.json
  packages/natds-icons/src/actions/buildDrawable.js
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

fix(natds-icons): release script
  packages/natds-icons/src/actions/buildSwift/helpers.js
  scripts/create-icons-vars.sh
Due: none

chore(natds-themes): adds filter to platform key DSY-1821
  packages/natds-themes/config/android/buildAndroidConfig.js
  packages/natds-themes/config/html/buildHtmlConfig.js
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.js
  packages/natds-themes/config/web/buildWebConfig.js
  packages/natds-themes/properties/globals/components/button.json
  packages/natds-themes/properties/globals/components/typography.json
  packages/natds-themes/properties/globals/typography/typography.json
  packages/natds-themes/properties/platforms/android/button.json
  packages/natds-themes/properties/platforms/css/typography.js
  packages/natds-themes/properties/platforms/html/typography.js
  packages/natds-themes/properties/platforms/ios/button.json
  packages/natds-themes/properties/platforms/ios/typography.json
  packages/natds-themes/properties/platforms/react-native/typography.js
  packages/natds-themes/properties/platforms/web/typography.json
Due: themes

chore(natds-themes): add tests for filter private properties
  packages/natds-themes/config/android/buildAndroidConfig.js
  packages/natds-themes/config/android/buildAndroidConfig.test.js
  packages/natds-themes/config/html/buildHtmlConfig.js
  packages/natds-themes/config/html/buildHtmlConfig.test.js
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/ios/buildIosConfig.test.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.js
  packages/natds-themes/config/react-native/buildReactNativeConfig.test.js
  packages/natds-themes/config/shared/buildDictionary.js
  packages/natds-themes/config/shared/buildDictionary.test.js
  packages/natds-themes/config/shared/config.js
  packages/natds-themes/config/shared/registerPrivatePropertiesFilter.js
  packages/natds-themes/config/shared/registerPrivatePropertiesFilter.test.js
  packages/natds-themes/config/web/buildWebConfig.js
  packages/natds-themes/config/web/buildWebConfig.test.js
  packages/natds-themes/properties/platforms/css/typography.test.js
  packages/natds-themes/properties/platforms/react-native/typography.test.js
Due: themes

chore(natds-themes): adds missing typographhy test
  packages/natds-themes/properties/platforms/html/typography.test.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
Due: storybook_themes, themes

chore(deps): update dependency core-js to v3.8.3
  package.json
  yarn.lock
Due: none

chore: removes style-dictionary from root package.json
  package.json
  yarn.lock
Due: none

chore(natds-themes): puts ccs back into platforms constants
  packages/natds-themes/build/web/aesop/dark.css
  packages/natds-themes/build/web/aesop/light.css
  packages/natds-themes/build/web/avon/dark.css
  packages/natds-themes/build/web/avon/light.css
  packages/natds-themes/build/web/natura/dark.css
  packages/natds-themes/build/web/natura/light.css
  packages/natds-themes/build/web/theBodyShop/dark.css
  packages/natds-themes/build/web/theBodyShop/light.css
  packages/natds-themes/config/shared/constants.js
Due: themes

chore(natds-themes): brings back the deleted index.js from build folder
  packages/natds-themes/build/react-native/index.js
  packages/natds-themes/build/web/index.js
Due: themes

chore(natds-themes): excludes private properties from dimensions output
  packages/natds-themes/build/android/dimensions.json
  packages/natds-themes/config/android/helpers.js
  packages/natds-themes/config/shared/helpers.js
  packages/natds-themes/config/shared/registerPrivatePropertiesFilter.js
Due: themes

test(natds-themes): adds tests for shared and android's helpers
  packages/natds-themes/config/android/helpers.js
  packages/natds-themes/config/android/helpers.test.js
  packages/natds-themes/config/shared/helpers.test.js
  packages/natds-themes/config/shared/registerPrivatePropertiesFilter.test.js
Due: themes

test(natds-themes): improves helpers test from android config
  packages/natds-themes/config/android/helpers.test.js
Due: themes

fix(deps): update dependency @storybook/theming to v6.1.15
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

feat(natds-icons): add new icons
  packages/natds-icons/svg/outlined-alert-notification.svg
  packages/natds-icons/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/svg/outlined-content-asleep.svg
  packages/natds-icons/svg/outlined-content-saleinsight.svg
  packages/natds-icons/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/svg/outlined-product-repurchase.svg
Due: none

chore: update generated files [ci skip]
  packages/natds-icons/dist/drawables/outlined_alert_notification.xml
  packages/natds-icons/dist/drawables/outlined_alert_notificationsbadge.xml
  packages/natds-icons/dist/drawables/outlined_content_asleep.xml
  packages/natds-icons/dist/drawables/outlined_content_saleinsight.xml
  packages/natds-icons/dist/drawables/outlined_product_abandonedbag.xml
  packages/natds-icons/dist/drawables/outlined_product_relatedproducts.xml
  packages/natds-icons/dist/drawables/outlined_product_repurchase.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/natds-icons.css
  packages/natds-icons/dist/natds-icons.css.d.ts
  packages/natds-icons/dist/natds-icons.json
  packages/natds-icons/dist/natds-icons.json.d.ts
  packages/natds-icons/dist/natds-icons.swift
  packages/natds-icons/dist/natds-icons.txt
  packages/natds-icons/dist/svg/outlined-alert-notification.svg
  packages/natds-icons/dist/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/dist/svg/outlined-content-asleep.svg
  packages/natds-icons/dist/svg/outlined-content-saleinsight.svg
  packages/natds-icons/dist/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/dist/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/dist/svg/outlined-product-repurchase.svg
  packages/natds-icons/ios/NatDSIcons/NatDSIcons/Icon.swift
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
  packages/natds-icons/src/generated/natds-icons-codes.json
Due: none

chore(natds-icons): update icons
  packages/natds-icons/svg/outlined-alert-notification.svg
  packages/natds-icons/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/svg/outlined-content-asleep.svg
  packages/natds-icons/svg/outlined-content-saleinsight.svg
  packages/natds-icons/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/svg/outlined-product-repurchase.svg
Due: none

chore: update generated files [ci skip]
  packages/natds-icons/dist/drawables/outlined_alert_notification.xml
  packages/natds-icons/dist/drawables/outlined_alert_notificationsbadge.xml
  packages/natds-icons/dist/drawables/outlined_content_asleep.xml
  packages/natds-icons/dist/drawables/outlined_content_saleinsight.xml
  packages/natds-icons/dist/drawables/outlined_product_abandonedbag.xml
  packages/natds-icons/dist/drawables/outlined_product_relatedproducts.xml
  packages/natds-icons/dist/drawables/outlined_product_repurchase.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/svg/outlined-alert-notification.svg
  packages/natds-icons/dist/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/dist/svg/outlined-content-asleep.svg
  packages/natds-icons/dist/svg/outlined-content-saleinsight.svg
  packages/natds-icons/dist/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/dist/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/dist/svg/outlined-product-repurchase.svg
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
Due: none

chore(natds-icons): update regression test
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
Due: none

feat(natds-icons): add new icons (#225)
  packages/natds-icons/dist/drawables/outlined_alert_notification.xml
  packages/natds-icons/dist/drawables/outlined_alert_notificationsbadge.xml
  packages/natds-icons/dist/drawables/outlined_content_asleep.xml
  packages/natds-icons/dist/drawables/outlined_content_saleinsight.xml
  packages/natds-icons/dist/drawables/outlined_product_abandonedbag.xml
  packages/natds-icons/dist/drawables/outlined_product_relatedproducts.xml
  packages/natds-icons/dist/drawables/outlined_product_repurchase.xml
  packages/natds-icons/dist/fonts/natds-icons.eot
  packages/natds-icons/dist/fonts/natds-icons.svg
  packages/natds-icons/dist/fonts/natds-icons.ttf
  packages/natds-icons/dist/fonts/natds-icons.woff
  packages/natds-icons/dist/fonts/natds-icons.woff2
  packages/natds-icons/dist/natds-icons.css
  packages/natds-icons/dist/natds-icons.css.d.ts
  packages/natds-icons/dist/natds-icons.json
  packages/natds-icons/dist/natds-icons.json.d.ts
  packages/natds-icons/dist/natds-icons.swift
  packages/natds-icons/dist/natds-icons.txt
  packages/natds-icons/dist/svg/outlined-alert-notification.svg
  packages/natds-icons/dist/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/dist/svg/outlined-content-asleep.svg
  packages/natds-icons/dist/svg/outlined-content-saleinsight.svg
  packages/natds-icons/dist/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/dist/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/dist/svg/outlined-product-repurchase.svg
  packages/natds-icons/ios/NatDSIcons/NatDSIcons/Icon.swift
  packages/natds-icons/ios/NatDSIcons/Resources/natds-icons-ios.ttf
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
  packages/natds-icons/src/generated/natds-icons-codes.json
  packages/natds-icons/svg/outlined-alert-notification.svg
  packages/natds-icons/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/svg/outlined-content-asleep.svg
  packages/natds-icons/svg/outlined-content-saleinsight.svg
  packages/natds-icons/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/svg/outlined-product-repurchase.svg
Due: none

fix(natds-icons): remove fill rule from icons
  packages/natds-icons/svg/outlined-alert-notification.svg
  packages/natds-icons/svg/outlined-alert-notificationsbadge.svg
  packages/natds-icons/svg/outlined-content-asleep.svg
  packages/natds-icons/svg/outlined-content-saleinsight.svg
  packages/natds-icons/svg/outlined-product-abandonedbag.svg
  packages/natds-icons/svg/outlined-product-relatedproducts.svg
  packages/natds-icons/svg/outlined-product-repurchase.svg
Due: none

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
