Repository natura-cosmeticos/natds-commons: changes, and which Codecov flags are due for each by the changed paths.
All: storybook_themes, themes

chore(deps): pin dependencies
  package.json
  packages/natds-token-search/package.json
  yarn.lock
Due: none

chore(deps): update dependency @babel/preset-env to v7.11.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint to v7.10.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-import to v2.22.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v4.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.28.2
  package.json
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): update dependency typescript to v4.0.3
  package.json
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): update jest monorepo to v26.5.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @storybook/theming to v6.0.26
  packages/natds-storybook-themes/package.json
  yarn.lock
Due: storybook_themes

chore(deps): update commitlint monorepo to v11
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v6
  package.json
  yarn.lock
Due: none

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore: update renovate config
  renovate.json
Due: none

update renovate concurrency limmit
  renovate.json
Due: none

build(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-storybook-themes/CHANGELOG.md
  packages/natds-storybook-themes/package.json
  packages/natds-themes/CHANGELOG.md
  packages/natds-themes/package.json
  packages/natds-token-search/CHANGELOG.md
  packages/natds-token-search/package.json
Due: storybook_themes, themes

chore: fix coverage reports on CI
  .travis.yml
  codecov.yml
  jest.config.js
  package.json
  yarn.lock
Due: none

test(natds-themes): add missing test
  package.json
  packages/natds-themes/config/android/buildResourcesOutput.js
  packages/natds-themes/config/android/buildResourcesOutput.test.js
Due: themes

chore(deps): update eslint
  package.json
  yarn.lock
Due: none

test(natds-icons): add regression test
  .gitignore
  babel.config.js
  jest.setup.js
  package.json
  packages/natds-icons/regression/__image_snapshots__/icons-test-js-icon-list-should-match-the-previous-screenshot-1-snap.png
  packages/natds-icons/regression/icons.test.js
  yarn.lock
Due: none

style(natds-icons): fix lint errors
  .eslintrc.js
  packages/natds-icons/package.json
  packages/natds-icons/regression/icons.test.js
  packages/natds-icons/rollup.config.js
  packages/natds-icons/scripts/generateJsonType.js
  packages/natds-icons/scripts/helpers/capitalizeWord.test.js
  packages/natds-icons/scripts/helpers/getIconString.js
  packages/natds-icons/scripts/helpers/getIconString.test.js
  packages/natds-icons/scripts/helpers/getUnicodeIconString.js
  packages/natds-icons/scripts/helpers/getUnicodeIconString.test.js
  packages/natds-icons/scripts/helpers/iconNameMapper.js
  packages/natds-icons/scripts/helpers/iconNameMapper.test.js
  packages/natds-icons/scripts/helpers/toCamelCase.js
  packages/natds-icons/scripts/helpers/toCamelCase.test.js
  packages/natds-icons/scripts/helpers/toCamelCaseMapper.js
  packages/natds-icons/scripts/helpers/toCamelCaseMapper.test.js
  packages/natds-icons/scripts/helpers/toIosUnicode.js
  packages/natds-icons/scripts/helpers/toIosUnicode.test.js
  packages/natds-icons/scripts/svgCleaner.js
  packages/natds-icons/scripts/svgToFont.js
Due: none

test(natds-icons): add snaptests for outputs
  jest.config.js
  package.json
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.css
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.css.d.ts
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.eot
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.json
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.json.d.ts
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.svg
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.swift
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.ttf
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.woff
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.woff2
  packages/natds-icons/integration/outputs.test.js
  packages/natds-icons/scripts/helpers/getIconString.test.js
  packages/natds-icons/scripts/helpers/getUnicodeIconString.test.js
  packages/natds-icons/scripts/helpers/iconNameMapper.test.js
  packages/natds-icons/scripts/svgToFont.js
Due: none

chore: revert travis changes, add files to lerna ignoreChanges
  .travis.yml
  lerna.json
Due: none

chore(release): bump natds-common packages via lerna [skip ci]
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore: revert travis changes, add files to lerna ignoreChanges
  .eslintrc.js
  .travis.yml
  packages/natds-icons/package.json
  packages/natds-themes/config/android/buildAndroidConfig.js
  packages/natds-themes/config/html/registerHtmlFormat.test.js
  packages/natds-themes/config/ios/buildIosConfig.js
  packages/natds-themes/config/ios/buildIosConfig.test.js
  packages/natds-themes/config/ios/registerFormats.test.js
  packages/natds-themes/config/shared/buildConfig.js
  packages/natds-themes/config/shared/helpers.test.js
  packages/natds-themes/config/web/buildWebConfig.js
Due: themes

chore(natds-themes): update android and ios generated files [skip ci]
  packages/natds-themes/build/android/aesop/dark.js
  packages/natds-themes/build/android/aesop/light.js
  packages/natds-themes/build/android/avon/dark.js
  packages/natds-themes/build/android/avon/light.js
  packages/natds-themes/build/android/natura/dark.js
  packages/natds-themes/build/android/natura/light.js
  packages/natds-themes/build/android/theBodyShop/dark.js
  packages/natds-themes/build/android/theBodyShop/light.js
  packages/natds-themes/build/ios/AesopDark.js
  packages/natds-themes/build/ios/AesopLight.js
  packages/natds-themes/build/ios/AvonDark.js
  packages/natds-themes/build/ios/AvonLight.js
  packages/natds-themes/build/ios/NaturaDark.js
  packages/natds-themes/build/ios/NaturaLight.js
  packages/natds-themes/build/ios/TheBodyShopDark.js
  packages/natds-themes/build/ios/TheBodyShopLight.js
  packages/natds-themes/build/react-native/aesop/dark.js
  packages/natds-themes/build/react-native/aesop/light.js
  packages/natds-themes/build/react-native/avon/dark.js
  packages/natds-themes/build/react-native/avon/light.js
  packages/natds-themes/build/react-native/natura/dark.js
  packages/natds-themes/build/react-native/natura/light.js
  packages/natds-themes/build/react-native/theBodyShop/dark.js
  packages/natds-themes/build/react-native/theBodyShop/light.js
  packages/natds-themes/build/web/aesop/dark-esm.js
  packages/natds-themes/build/web/aesop/light-esm.js
  packages/natds-themes/build/web/avon/dark-esm.js
  packages/natds-themes/build/web/avon/light-esm.js
  packages/natds-themes/build/web/natura/dark-esm.js
  packages/natds-themes/build/web/natura/light-esm.js
  packages/natds-themes/build/web/theBodyShop/dark-esm.js
  packages/natds-themes/build/web/theBodyShop/light-esm.js
Due: themes

chore(natds-icons): update files after release on natds-js
  packages/natds-icons/CHANGELOG.md
  packages/natds-icons/package.json
Due: none

chore: exclude packages from npm publishing
  lerna.json
Due: none

chore(natds-icons): remove comment of output file
  packages/natds-icons/integration/__file_snapshots__/natds-icons.snap.json.d.ts
  packages/natds-icons/scripts/generateJsonType.js
  packages/natds-icons/src/natds-icons.json.d.ts
Due: none

Path conditions:
  storybook_themes: any of: packages/natds-storybook-themes
  themes: any of: packages/natds-themes
